body {
    margin:0px;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid black;
    margin:0px;
    padding:20px;
}
ol {
    border-right: 1px black solid;
    width:150px;
    margin:0px;
    padding:20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr; 
}
#article{
    text-align: left;
    padding-left:70px;
}
input {
    background-color: black; 
    color: white;            
    border: none;  
    padding: 10px 20px;
}
#grid ol {
    padding-left: 33px;
}
a {
    text-decoration:none;
    color:blue;
}
/* Prevent list header links from appearing blue */
a.aTagException, .aTagException {
    color: inherit;
}
/* Article links should be blue in light mode */
.aTagInception {
    color: blue;
} 
@media(max-width:800px){
    #grid{
        display: block;
        padding-left: 25px;
    }
    #article{
        padding-left:25px;
    }
    ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }
}
.aTagException {
    color:inherit
}